<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Eduhub|Post Question</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="bootstrap.min.css">
<script src="jquery-1.8.3.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="angular.min.js"></script>
<script src="ui-bootstrap-tpls-0.13.0.min.js"></script>
</head>
<body>
<div
		style="height: 70px; background-color: #404040; color: white !important; text-align: right; padding-right: 40px; padding-top: 20px">

	</div>	
	<div style="padding-left:50px;padding-top:30px">
	<table>
	<tr><td><a href="#" >Contributor Name1 </a></td></tr>
	<tr><td><a href="#" >Contributor Name2 </a></td></tr>
	<tr><td><a href="#" >Contributor Name3 </a></td></tr>
	</table>
	</div>
</body>
</html